<html>
  <main>
    
    <body>
      <div class="view-post">
         <div >
          <video controls class="video" >
            <source src="/{{post.video}}" type="video/mp4">
          </video>
        </div>

         <div class="video-title">
          <h2>{{post.title}}</h2>
        </div>
        <div class="video-info">
          <h4>{{post.username}}</h4> 
          <h4>{{ formatDateString post.createdAt}}</h4>
        </div>
        <div class="video-description">
          <h3>{{post.description}}</h3>
        </div>
        <div class="comment">
          <label style="font-family: 'Press Start 2P';" for="comment">Comments</label>
          <textarea id="comment-text" name="comment" class="comment-text"></textarea>
          <button type="submit" class="comment-button" id="comment-button" data-postid="{{post.id}}" >Enter</button>
         
        </div>
        <div class="comment-list" id="comment-list">

          {{#each post.Comments}}
          <div id="comments" class="comments"> 
              <strong class="author-comment">{{username}} </strong>
              <span class="date-comment">{{formatDateString createdAt}}</span>
              <div class="text-comment"><p>{{text}}</p></div>

          </div>

          {{/each}}


        </div>

      </div>
       
    </body>
    </main>
    </html>
    <script>


      function buildCommentDiv(data){
    const dateString = new Date().toLocaleString("en-us", {
      timeStyle: "medium",
      dateStyle: "medium"


    });
    const divComment = document.createElement('div');
    divComment.id= `message-${data.commentId}`;
    divComment.classList.add('comments');
    const usernameTag = document.createElement('strong')
    usernameTag.classList.add('author-comment');
   usernameTag.appendChild(document.createTextNode(data.username));
   const dateSpan = document.createElement('span');
   dateSpan.classList.add('date-comment');
   const commentText = document.createElement('div');
   commentText.classList.add('comment-text');
   commentText.appendChild(document.createTextNode(data.commentText));
   divComment.append(usernameTag, dateSpan, commentText);
   return divComment;
  }
const commentsList = document.getElementById('comment-list');
const commentButton = document.getElementById('comment-button');
const commentTextArea = document.getElementById('comment-text');

if(commentButton){
    commentButton.addEventListener('click', function(ev){
        const commentText = commentTextArea.value;
        const postId = ev.currentTarget.dataset.postid;
      const payload = {
        postId,
        commentText
      }
      const fetchOptions = {
        method: "POST",
        headers: {
          "Content-Type":"application/json"
          },
        body: JSON.stringify(payload)
      }
      fetch("/comments/create", fetchOptions)
        .then((resp) => resp.json())
        .then((data) => {
          console.log(data);
          if(data.statusCode < 0){
            window.location.replace('/login')
          }else{
            const commentDiv = buildCommentDiv(data);
            commentsList.append(commentDiv);
            commentTextArea.value = " ";
          }
        })
        .catch(error => console.error(error))
        
      console.log(fetchOptions);
    })
}
     
    </script>

  